
BluetoothLE/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
BluetoothLE/.vs/BluetoothLE/v16/.suo
BluetoothLE/bin/Debug/BluetoothLE.exe
BluetoothLE/bin/Debug/BluetoothLE.exe.config
BluetoothLE/bin/Debug/BluetoothLE.pdb
BluetoothLE/bin/Debug/System.Runtime.WindowsRuntime.dll
BluetoothLE/bin/Debug/System.Runtime.WindowsRuntime.xml
BluetoothLE/bin/Debug/Windows.winmd
BluetoothLE/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
BluetoothLE/obj/Debug/BluetoothLE.csproj.AssemblyReference.cache
BluetoothLE/obj/Debug/BluetoothLE.csproj.CopyComplete
BluetoothLE/obj/Debug/BluetoothLE.csproj.CoreCompileInputs.cache
BluetoothLE/obj/Debug/BluetoothLE.csproj.FileListAbsolute.txt
BluetoothLE/obj/Debug/BluetoothLE.csproj.GenerateResource.cache
BluetoothLE/obj/Debug/BluetoothLE.exe
BluetoothLE/obj/Debug/BluetoothLE.Form1.resources
BluetoothLE/obj/Debug/BluetoothLE.pdb
BluetoothLE/obj/Debug/BluetoothLE.Properties.Resources.resources
BluetoothLE/obj/Debug/DesignTimeResolveAssemblyReferences.cache
BluetoothLE/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BluetoothLE/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
Car_BT/debug.cfg
Car_BT/debug_custom.json
Car_BT/esp32c3.svd
